body {
    background-color: whitesmoke;
}

h1 {
    color: burlywood;
    font-family: arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
   
}
h2 {
    color: salmon;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
  
}


ul {
    padding-left: 1.4em;
    list-style-type: none;
    
    min-height:50px;
}
li {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 60.2em;
    height: 2.8em;
    background-color: white;
}
.delete, .done ,.edit{
    font-family: ModernPictograms;
    font-size: 1em;
    display: inline-block;
    margin: 0.25em 0.2em;
    margin-right: 0.2em;
    margin-bottom:0.2em;
    cursor: pointer;
    border-radius: .2em;
    line-height: 130%;
    width: 2.0em;
    height: 2.0em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.done{float:left;}
   
.edit{float:left;}
.delete {
    float: right;
}

.task {
    width: 60%;
    display: inline-block;
    font-size: 200%;

    text-align:center;
    
}



